.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.hide {
    display: none;
}

/* Men start */
.men > div {
    position: absolute;
}

.men-yellow {
    left: calc(22%);
    top: calc(35%);
}

.men-green {
    left: calc(52%);
    top: calc(35%);
}

.men-blue {
    left: calc(68%);
    top: calc(45%);
}

.men-orange {
    left: calc(76%);
    top: calc(72%);
}

.men-red {
    position: absolute;
    left: calc(32%);
    top: calc(70%);
}
/* Men end */

/* Man start */
.man {
    height: 100px;
    background: url("/src/img/man_empty.png") no-repeat bottom;
    background-size: contain;
    display: inline-block;
}

.men-small {
    width: 15px;
}

.men-medium {
    width: 25px;
}

.men-large {
    width: 35px;
}

.men-small:hover,
.men-medium:hover,
.men-large:hover {
    background: url("/src/img/man_filled.png") no-repeat bottom;
    background-size: contain;
}

/* Man end */

/* Technique yellow start */

.technique-phone {
    background: url("/src/img/large.png") no-repeat bottom;
    top: 25%;
    left: -50%;
    width: 50px;
}

.technique-tablet {
    background: url("/src/img/medium.png") no-repeat bottom;
    top: 45%;
    left: 10%;
    width: 50px;
}

.technique-laptop {
    background: url("/src/img/small.png") no-repeat bottom;
    top: 25%;
    left: 80%;
    width: 50px;
}

.technique > div {
    height: 50px;
    background-size: contain;
    position: absolute;
}
/* Technique yellow end */
